*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.Header{
    width: 100%;
    display: flex;
    padding-top: 1%;
    overflow-x: hidden;
    box-shadow: var(--box-shadow);
}
.Header h1{
    color: green;
    padding-left: 35px;
}
.selector{
    width: 200px;
    padding-left: 150px;
}
#selectField{
width: 100%;
padding: 10px 20px;
box-sizing: border-box;
border-radius: 50px;
background: green;
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
color: white;
}
#selectField img{
    width: 12px;
}
.Search{
    width: 500px;
    padding-left: 20px;
}
#SearchBar{
width: 100%;
padding: 7px 20px;
box-sizing: border-box;
border-radius: 50px;
background: rgba(188, 185, 185, 0.367);
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
color: black;
}
.Location{
    width: 280px;
    padding-left: 100px;
}
#delivery{
width: 100%;
padding: 7px 20px;
box-sizing: border-box;
border-radius: 50px;
background: rgba(188, 185, 185, 0.367);
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
color: black;
}
.badge{
    position: absolute;
  padding: 2px 4px;
  border-radius: 50%;
  background-color: green;
  color: white;
  margin-left: -12px;
  margin-top: -8px;
}
.cart img{
    margin-left: 15px;
}
.profile img{
    margin-left: 25px;  
}
.Cover-img{
    padding-left: 8px;
    text-align: center;
    padding-top: 1%;
}
.cover{
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
}
.cover1{
    color: white;
    position: absolute;
    top: 30%;
    left: 39%;
    font-weight: normal;
    font-size: x-small;
}
.button{
    color: black;
    background-color: orange;
    position: absolute;
    top: 38%;
    left: 45%;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
}
.dots-container{
    display: flex;
    color: red;
}
.high{
    color: orange;
}
.high2{
    color: orange;
}
.Botnav{
    overflow: hidden;
    background: rgba(188, 185, 185, 0.367);
    display: flex;
    width: 82%;
    margin-left: 9.3%;
}
.Botnav a{
    padding: 10px 1px;
}
.Botnav img{ 
padding-left: 5%;
}
.Botnav span{
    color: green;
    font-weight: bold;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
}
.products-heading{
    display: flex;
    padding-top: 3%;
}
.products-heading h2{
    font-size: 1.56rem;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 2%;
}
.products-heading span{
    color: green;
    padding-left: 79%;
}
.products div{
    position: relative;
    width: 270px;
    height: 520px;
    border: 1px solid lightgrey;
    margin: 12px;
    text-align: justify;
    background: #fff;
    padding-top: 2% ;
    box-shadow: 1px 1px 1px 1px  rgba(188, 185, 185, 0.367);
}
.products h3{
    font-weight: lighter;
    font-size:medium ;
}
.products p{
    color: gray;
    padding-top: 20%;
}
.products img{
    padding-left: 20%;
}
.products h2{
 padding-left: 70%;
 padding-top: 30%;
}
.Rate{
    width:0%;
    padding: 2px 2px;
   border-radius: 5px ;
   text-align: left;
   background-color: green;
   color: #fff;
}
.Rate img{
margin-left: -15%;
}
.Buy{
    color: black;
    background-color: orange;
    position: absolute;
    width: 50%;
    left: 1%;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
}
.Add{
   width:40%;
   padding: 7px 20px;
   border-radius: 10px ;
   text-align: right;
   background-color: rgb(217, 213, 213);
   color: #fff;
   position: absolute;
   left: 55%;
   color: black;
   border: none;
}
.Buy1{
    color: black;
    background-color: orange;
    position: absolute;
    width: 70%;
    left: 1%;
    border-radius: 10px;
    border: none;
    padding: 8px 85px;
    text-align: left;
    bottom: 2%;
}
.Add1{
    width:40%;
    padding: 7px 20px;
   border-radius: 10px ;
   text-align: right;
   background-color: rgb(217, 213, 213);
   color: #fff;
   position: absolute;
   left: 55%;
   color: black;
   border: none;
   bottom: 2%;
}
.plus{
   width:10%;
   padding: 7px 20px;
   border-radius: 10px ;
   text-align: right;
   background-color: rgb(217, 213, 213);
   color: #fff;
   position: relative;
   left: 55%;
   color: black;
   border: none;
   padding-top: -2px;
}
.num{
    width:5%;
    padding: 7px 1px;
   border-radius: 10px ;
   text-align: right;
   color: #fff;
   position: relative;
   left: 55%;
   color: black;
   border: none;
   background-color: #fff;
   padding-top: -2px;
}
.strikethrough {
    position: relative;
    color: rgb(217, 213, 213);
    margin-left: 90px;
    top: 60px;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    transform:rotate(-15deg);
   
  }
  .text{
    position: absolute;
    top: 30%;
    left: 30%;
    color: #fff;
    text-align: center;
      }
      .text1{
        padding: 5px 25px;
        border-radius: 10px;
      }
      .text2{
        color: orange;
      }
.Tide{
    margin-top: -3px;
}
.Rate1{
    width:0%;
    padding: 2px 1px;
   border-radius: 5px ;
   text-align: left;
   background-color: green;
   color: #fff;
}
.Rate1 img{
    margin-left: -15%;
}
.Onion{
    margin-top: -8px;
}
.Santoor{
    margin-top: -5px;
}
.Everest{
    margin-top: -10px;
}
.Buy-neo{
    color: black;
    background-color: orange;
    position: absolute;
    width: 50%;
    left: 1%;
    border-radius: 10px;
    border: none;
    padding: 7px 55px;
    text-align:justify;
    bottom: 2%;
    margin-right: 7%;
}
.Add-neo{
    width:40%;
    padding: 7px 20px;
   border-radius: 10px ;
   text-align: right;
   background-color: rgb(217, 213, 213);
   color: #fff;
   position: absolute;
   left: 55%;
   color: black;
   border: none;
   bottom: 2%;
}
.Neotea{
    margin-top: -20px;
}
.Buy-fre{
    color: black;
    background-color: orange;
    position: absolute;
    width: 50%;
    left: 1%;
    border-radius: 10px;
    border: none;
    padding: 7px 55px;
    text-align: left;
    bottom: 2%;
    margin-right: 2%;
}
.Add-fre{
    width:40%;
    padding: 7px 20px;
   border-radius: 10px ;
   text-align: right;
   background-color: rgb(217, 213, 213);
   color: #fff;
   position: absolute;
   left: 55%;
   color: black;
   border: none;
   bottom: 2%;
}
.fresho{
    margin-top: -20px;
}
.Nou{
    margin-top: -20px;
}
.Nat{
    margin-top: -20px;
}
.Banner{
    display: flex;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}
#category{
    display: flex;
    flex-direction: column;
    width: 97%;
}
.category-heading{
    display: flex;
 }
.category-heading h2{
    font-size: 1.56rem;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 5%;
}
.category-heading span{
    color: green;
    padding-left: 70%;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    background-color:  rgb(249, 231, 199);
    margin: 0px;
    padding-top: 3%;
   }
.container div{
    position: relative;
    width: 270px;
    border: 1px solid lightgrey;
    margin: 10px;
    text-align: justify;
    background: #fff;
    padding-top: 2% ;
    box-shadow: 1px 1px 1px 1px  rgba(188, 185, 185, 0.367);
}
    .container h3{
    font-weight: lighter;
    font-size:medium ;
}
.container p{
    color: gray;
    padding-top: 20%;
}
.container img{
    padding-left: 20%;
}
.container h2{
    padding-left: 70%;
    padding-top: 30%;
}
.Buy1{
    padding-left: 20%;
    text-align: center;
    width: 25%;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    }
.container1 div{
    position: relative;
    width: 270px;
    margin: 10px;
    text-align: justify;
    background: #fff;
    padding-top: 2% ;
}
#Brand{
    display: flex;
    flex-direction: column;
    width: 97%;
    padding-top: 3%;
    }
.heading{
    display: flex;
}
.heading h2{
    font-size: 1.56rem;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 5%;
}
.heading span{
    color: green;
    padding-left: 75%;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    padding-left: 2%;
    }
.container2 div{
    position: relative;
    width: 270px;
    height: 120px;
    border: 1px solid lightgrey;
    margin: 10px;
    text-align: justify;
    background: #fff;
    padding-top: 0% ;
    box-shadow: 2px 2px 2px 2px  rgba(188, 185, 185, 0.367);
    overflow-y: hidden;
    text-align: center;
}
.footer-container{
    width: 100%;
    margin-top: 30px;
    height: auto;
    background-color: rgb(249, 247, 245);
    margin-left: 3%;
    overflow-y: hidden;
}
.footer-container h1{
 color: green;
 padding-top: 1%;
}
.Quick-links{
    display: flex;
    text-align: justify;
    padding-left: 60%;
    margin-top: -11%;
}
.Quick-links h4{
    color: orange;
    padding-left: 20px;
}
.Quick-links ul li{
    padding: 5px 22px;
    font-size: x-small;
}
.footer{
    display: flex;
    padding-top: 3%;
    margin-left: -1%;
}
.footer-col ul li{
    padding: 1px 20px;
    margin-top: 3%;
}

.Icon{
    display: flex;
    flex-wrap: wrap;
}
.Icon  img{
   padding-top: 10%;
   margin-left: 15px;
}
.setsize{
    margin-left: -20%;
    margin-top: -11%;
    margin-bottom: -1%;
    position: relative;
}
.ratings{
    background-color: #fff;
    border: none;
    color: gray;;
}
.foo{
    color: orange;
   position: absolute;
}
.off{
    width:28%;
   border-radius: 5px ;
   background-color: green;
   color: #fff;
   left: 200px;
   position: absolute;
   text-align: center;
   border: none;
   padding:2px 0px 2px  2px;
   top: 16px;

}
@media screen and (max-width: 800px) {
    .Header, .products, .footer,.Quick,.navs {
      width: 100%; 
    }
  }
